html {
  font-size: 16px;
  @media only screen and (max-width: 610px) {
    font-size: 15px;
  }
}
body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

a {
  font-weight: 500;
  text-decoration: none;
}

.loading {
  position: fixed;
  left: 50%;
  top: 50%;
}

.allTabs {
  width: 470px;
  border: 1px #e4e6e8 solid;
  margin: 20px;
}

.avatar {
  margin: 10px;
}

.taskContainer {
  padding: 15px 0px;
  display: grid;
  grid-template-columns: 1fr 9fr;
  border-bottom: 1px solid #e4e6e8;
}

.taskTitle {
  color: #0e8a90;
  margin: 0px;
  font-weight: 640;
  font-family: Montserrat, sans-serif;
  font-size: 19.75px;
}

.taskTimeDetails {
  padding: 0px, 10px, 10px, 10px;
  display: grid;
  grid-template-columns: 8% 30% 8% 54%;
}
